    <html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="slidebar">
    <div class="iq-sidebar">
        <div class="iq-navbar-logo d-flex justify-content-between">
            <a href="index.html" class="header-logo">
                <img src="/assets/assetsCP/images/logo.png" class="img-fluid rounded" alt="">
                <span>VEGEFOODS STORE</span>
            </a>
            <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                    <div class="main-circle"><i class="ri-menu-line"></i></div>
                    <div class="hover-circle"><i class="ri-close-fill"></i></div>
                </div>
            </div>
        </div>
        <div id="sidebar-scrollbar">
            <nav class="iq-sidebar-menu">
                <ul id="iq-sidebar-toggle" class="iq-menu">
                    <li>
                        <a href="#dashboard" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="las la-home iq-arrow-left"></i><span>Product</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="dashboard" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                            <li><a href="/cp/products"><i class="las la-laptop-code"></i>List Product</a></li>
                            <li><a href="/cp/products/create"><i class="las la-laptop-code"></i>Create Product</a></li>
                        </ul>
                    </li>


                    <li>
                        <a href="#userinfo" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="las la-user-tie iq-arrow-left"></i><span>Customer</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="userinfo" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" style="">
                            <li><a href="/cp/customers"><i class="las la-id-card-alt"></i>List User</a></li>
                        </ul>
                    </li><li>
                    <a href="/products" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="las la-user-tie iq-arrow-left"></i><span>VEGEFOODS</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                </li>
                </ul>
            </nav>
            <div class="p-3"></div>
        </div>
    </div>
</th:block>